*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family:robotoc;
    font-weight: bold;
    font-size: 30px;
    background-color: #ffffff;
}
.cuadrado {
    width: auto;
    height: 30px;
    background: #000000;
}
.textoA{
    position:absolute;
    top: 10px;
    left: 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-weight: lighter;
    font-size: 13px;
}
.textoB{
    position:absolute;
    top: 10px;
    left: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-weight: lighter;
    font-size: 13px;
    font-style: italic;
}
.container{
    position: relative;
    display: inline-block;
    text-align: center;
}
.TextoE{
    position: absolute;  
    top: 65%;
    left: 20%;
    transform: translate(-25%, -25%);
    color: #ffffff;
    font-size: 60px;
}
.textoC{
    position: absolute;  
    top: 75%;
    left: 25%;
    transform: translate(-25%, -25%);
    color: #ffffff;
    font-weight: lighter;
    font-size: 60px;
}
h2{
    color: #44484c;
    font-size:large;
    font-weight: lighter;
    text-align:center ;
}
h3{
    color:#44484c ;
    font-size:large;
    text-align: left;
    font-weight: lighter;
}
h4{
    color: #44484c;
    font-size: large;
    text-align: center;
    font-weight: lighter;
}
h5{
    color: #44484c;
    font-size: large;
    text-align: right;
    font-weight: lighter;
}
.caja{
    position: relative;
    display: inline-block;
}
.texto1{
    position: absolute;
    top: 10px;
    left: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-weight: lighter;
}
.texto2{
    position: absolute;
    top: 10%;
    right:25%;
    font-size: 16px;
    color: #ffffff;
    font-weight: lighter;
}
.heaven{
  position:absolute;
  height:200px;
  width:200px;
  z-index: -1;
}
.texto3{
    position: absolute;
    top: 100%;
    right:25%;
    font-size: 16px;
    color: #ffffff;
    font-weight: lighter;
}
.texto4{
    position: absolute;
    top: 100%;
    right:25%;
    font-size: 16px;
    color: #ffffff;
    font-weight: lighter;
}
.texto5{
    position: absolute;
    top: 100%;
    right:25%;
    font-size: 16px;
    color: #ffffff;
    font-weight: lighter;
}
.texto6{
    position: absolute;
    top: 150%;
    right:25%;
    font-size: 16px;
    color: #ffffff;
    font-weight:bold;
    text-align: center;

}
}